body{
  background: linear-gradient(#020024,#090979,#00D4FF);
  padding: 20px;
  
  
  
}
.container {
  background-color:gainsboro;
  border-radius: 25px;
  /* max-height: 1000px; */
  max-width: 500px;
  
  margin: auto;
  padding: 20px;
  font-family: Arial;
}

h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input:focus {
  outline: none;
  border-color: #007bff;
}

.error {
  color: red;
  font-size: 12px;
}

button {
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}